@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
    --cor-texto: #667085;
    --cor-vermelho: #8E2424;
}

body {
    font-family: var(--fonte-principal);
}

