@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fonte-principal: "Inter", sans-serif;
    --cor-texto: #667085;
    --vermelho-bordo: #8E2424;
    --azul-escuro: #101828;
    --cinza-claro: #667085;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body {
    width: 100%;
    height: 100vh;
}

