/* SEÇÃO SOBRE NÓS */

.sobre-nos {
    padding: 9.6rem 32.5rem 14rem;
}

.sobre-nos-subtitulo {
    color: var(--vermelho-bordo);
    text-align: center;
    font-weight: 600;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
}

.sobre-nos-titulo {
    color: var(--azul-escuro);
    text-align: center;
    font-size: 3.6rem;
    font-weight: 600;
}

.sobre-nos-paragrafo {
    color: var(--cinza-claro);
    text-align: center;
    font-size: 2rem;
    margin-top: 2.4rem;
}

/* SEÇÃO MÉTRICAS */

.metricas {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    gap: 2%;
    padding-bottom: 9.6rem;
}

.metricas-num {
    color: var(--vermelho-bordo);
    font-size: 6.0rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.metricas-subtitulo {
    color: var(--azul-escuro);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.metricas-paragrafo {
    color: var(--cinza-claro);
    font-size: 1.6rem;
}

/* SEÇÃO VAGAS ABERTAS */

.vagas-abertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9.6rem ;
}

.vagas-abertas-descricao {
    width: 12.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--vermelho-bordo);
    padding: .4rem 1.2rem;
    background-color: #8e242415;
    border-radius: 1.6rem;
}

.vagas-abertas-titulo {
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--azul-escuro);
    margin: 2rem 0;
}

.vagas-abertas-subtitulo {
    font-size: 2rem;
    color: var(--cinza-claro);
    font-weight: 400;
}

.vagas-abertas-imagem {
    width: 100%;
    padding: 6.4rem 10rem 0;
}

/* VAGAS DISPONÍVEIS */

.vagas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 76.8rem;
}

.vagas-titulo {
    font-size: 2rem;
    font-weight: 500;
    color: var(--azul-escuro);
    margin: 6.4rem 0 3.2rem;
}

.vagas-profissao {
    border: .1rem solid #EAECF0;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem;
}

.profissao-titulo {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--azul-escuro);
    margin: 2.4rem 0 3.2rem 2.4rem;
}

.profissao-informacoes {
    display: flex;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--cinza-claro);
    gap: 2rem;
    margin: 0 48.1rem 2.8rem 2.4rem;
}

/* DEPOIMENTOS */

.depoimentos {
    padding: 6.4rem;
    margin: 6.8rem 11.2rem 9.6rem;
    border-radius: 1.6rem;
    background-color: #C3191908;
    text-align: center;
}

.depoimentos-paragrafo {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--vermelho-bordo);
    margin-bottom: 1.6rem;
}

.depoimentos-titulo {
    font-weight: 500;
    font-size: 3rem;
    color: var(--azul-escuro);
    margin-bottom: 3.2rem;
}

.depoimentos-nome {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--azul-escuro);
    margin: 1.6rem 0 .4rem;
}

.depoimentos-profissao {
    font-size: 1.4rem;
    color: var(--cinza-claro);
}